h1 {
    font-family: "Segoe UI";
}

p {
  font-family: "Segoe UI";
}

div {
  font-family: "Segoe UI";
}

body {
  font-family: "Segoe UI";
}

.carousel-item {
  height: 100vh;
  min-height: 500px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;

}
